<div class="outer">
    <div class="container">
      <div class="row">
        <div class="offsett-md-2 col-lg-5 col-md-7 offsett-lg-4 offset-md-3">
          <div class="panel border bg-white">
            <div class="panel-heading">
              <h3 class="pt-3 font-weight-bold">Update Suggestion</h3>
              <div class="panel-body p-3">
                <form [formGroup]="suggestionForm">
                  <div class="form-group pt-3">
                    <div class="input-field">
                      <span class="fa fa-file p-2"></span
                      ><input
                        formControlName="suggestionTitle"
                        type="text"
                        class="text"
                        placeholder="Suggestion Title"
                      />
                    </div>
                  </div>
                  <div class="form-group pt-3">
                    <div class="input-field">
                      <span class="fa fa-bell p-2"></span
                      ><input
                        formControlName="priorityLevel"
                        type="text"
                        class="text"
                        placeholder="Priority Level"
                      />
                    </div>
                  </div>
                  <div class="form-group pt-3">
                    <div class="input-field">
                      <span class="fa fa-bell p-2"></span
                      ><input
                        formControlName="suggestionResult"
                        type="text"
                        class="text"
                        placeholder="Suggestion Result"
                      />
                    </div>
                  </div>
                  <div class="form-group pt-3">
                    <div class="input-field">
                      <span class="fa fa-info p-2"></span
                      ><input
                        formControlName="suggestionStatus"
                        type="text"
                        class="text"
                        placeholder="Status"
                      />
                    </div>
                  </div>
                  <div class="form-group pt-3">
                    <div class="input-field">
                      <span class="fa fa-users p-2"></span
                      ><input
                        formControlName="teamName"
                        type="text"
                        class="text"
                        placeholder="Assigned Team Name"
                      />
                    </div>
                  </div>
                  <div class="form-group pt-3">
                    <div class="input-field">
                      <label>Suggestion Deadline:</label>
                      <input
                        formControlName="suggestionDeadline"
                        type="date"
                        class="text"
                        style="margin-left: 10px"
                        placeholder="Suggestion Deadline"
                      />
                    </div>
                  </div>
                  <div class="form-group pt-3">
                    <div class="input-field">
                      <textarea
                        formControlName="suggestionDescription"
                        rows="10"
                        cols="100"
                      ></textarea>
                    </div>
                  </div>
                  <button
                    (click)="onUpdateSuggestion()"
                    type="submit"
                    class="btn btn-primary btn-block mt-4 w-100"
                  >
                    Submit
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  