<div class="outer">
    <div class="container">
      <div class="row">
        <div class="offsett-md-2 col-lg-5 col-md-7 offsett-lg-4 offset-md-3">
          <div class="panel border bg-white">
            <div class="panel-heading">
              <h3 class="pt-3 font-weight-bold">Edit Employee</h3>
              <div class="panel-body p-3">
                <form [formGroup]="updateForm">
                  <div class="form-group pt-3">
                    <div class="input-field">
                      <span class="fa fa-user p-2"></span
                      ><input
                        formControlName="firstName"
                        type="text"
                        class="text"
                        placeholder="First Name"
                      />
                    </div>
                  </div>
                  <div class="form-group pt-3">
                    <div class="input-field">
                      <span class="fa fa-user p-2"></span
                      ><input
                        formControlName="lastName"
                        type="text"
                        class="text"
                        placeholder="Last Name"
                      />
                    </div>
                  </div>
                  <div class="form-group pt-3">
                    <div class="input-field">
                      <span class="fa fa-user p-2"></span
                      ><input
                        formControlName="email"
                        type="text"
                        class="text"
                        placeholder="Email"
                      />
                    </div>
                  </div>
                  <div class="form-group pt-3">
                    <div class="input-field">
                      <span class="fa fa-user p-2"></span
                      ><input
                        formControlName="address"
                        type="text"
                        class="text"
                        placeholder="Address"
                      />
                    </div>
                  </div>
                  <div class="form-group pt-3">
                    <div class="input-field">
                      <span class="fa fa-user p-2"></span
                      ><input
                        formControlName="phoneNumber"
                        type="text"
                        class="text"
                        placeholder="Phone Number"
                      />
                    </div>
                  </div>
                  <div class="form-group pt-3">
                    <div class="input-field">
                      <span class="fa fa-user p-2"></span
                      >
                      <label>Birthday</label>
                      <input
                        formControlName="birthday"
                        type="date"
                        class="text"
                        placeholder="Birthdate"
                      />
                    </div>
                  </div>
                  <div class="form-group pt-3">
                    <div class="input-field">
                      <span class="fa fa-user p-2"></span
                      >
                      <label>Employment Start Date</label>
                      <input
                        formControlName="employmentStartDate"
                        type="date"
                        class="text"
                        placeholder="Employment Start Date"
                      />
                    </div>
                  </div>
                  <div class="form-group pt-3">
                    <div class="input-field">
                      <span class="fa fa-user p-2"></span
                      ><input
                        formControlName="jobTitle"
                        type="text"
                        class="text"
                        placeholder="Job Title"
                      />
                    </div>
                  </div>
                  <div class="form-group pt-3">
                    <div class="input-field">
                      <span class="fa fa-user p-2"></span
                      ><input
                        formControlName="teamName"
                        type="text"
                        class="text"
                        placeholder="Team Name"
                      />
                    </div>
                  </div>
                  <button
                    (click)="onUpdate()"
                    type="submit"
                    class="btn btn-primary btn-block mt-4 w-100"
                  >
                    Update
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
